{{template "common/header.html" .}}
{{template "common/nav.html" .}}

<div class="container">
    <div class="col-md-9">
        {{range .Topics}}
        <div class="page-header">
            <h1><a href="/topic/view/{{.Id}}">{{.Title}}</a></h1>
            <h6 class="text-muted">文章发表于 {{.CreateTime}}，共有 {{.Views}}次浏览， {{.ReplyCount}}个评论</h6>

            <p>
                {{.Content}}
            </p>

            <div class="clearfix"></div>
        </div>
        {{end}}
    </div>
    <div class="col-md-3">
        <div class="tags-header">
            <h4>标签</h4>

            <div class="list-group">
                {{range .Tags}}
                <a href="/topic/tag/{{.Name}}" class="list-group-item">
                    <span class="badge">{{.Count}}</span>
                    {{.Name}}
                </a>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{template "common/footer.html" .}}
