{{template "common/header.html" .}}
{{template "common/nav.html" .}}

<div class="container">
    <div class="col-md-9">
        <h2>{{.Topic.Title}}</h2>
        <p class="text-muted">发表于：{{.Topic.CreateTime}}，浏览次数：{{.Topic.Views}}，回复：{{.Topic.ReplyCount}}</p>

        <div>
            {{str2html .Topic.Content}}
        </div>

        <hr class="article-divider">

        <h3>最新评论</h3>
        <!--
        <ul class="uk-comment-list">
            <li>
                <article class="uk-comment">
                    <header class="uk-comment-header">
                        <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="http://www.gravatar.com/avatar/bd478eb1186e621237f899e0292448eb?d=mm&amp;s=120">
                        <h4 class="uk-comment-title">zhangshuaishuai </h4>
                        <p class="uk-comment-meta">2015年10月18日</p>
                    </header>
                    <div class="uk-comment-body">
                        <p>sfhdgttttndddddddd</p>
                    </div>
                </article>
            </li>
        </ul>
        -->
        <ul class="comment-list">
            <li>
                <div class="comment">
                    <header class="comment-header">
                        <img class="comment-avatar comment-border-circle"
                             width="50" height="50" src="/static/img/user_default.png?d=mm&amp;s=120">
                        <h4 class="comment-title">zhangshuaishuai </h4>
                        <p class="comment-meta">2015年10月18日</p>
                    </header>
                    <div class="comment-body">
                        <p>sfhdgttttndddddddd</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="comment">
                    <header class="comment-header">
                        <img class="comment-avatar comment-border-circle"
                             width="50" height="50" src="/static/img/user_default.png?d=mm&amp;s=120">
                        <h4 class="comment-title">xxx </h4>
                        <p class="comment-meta">2015年10月18日</p>
                    </header>
                    <div class="comment-body">
                        <p>sfhdgttttndddddddd</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="comment">
                    <header class="comment-header">
                        <img class="comment-avatar comment-border-circle"
                             width="50" height="50" src="/static/img/user_default.png?d=mm&amp;s=120">
                        <h4 class="comment-title">eeess </h4>
                        <p class="comment-meta">2015年10月18日</p>
                    </header>
                    <div class="comment-body">
                        <p>sfhdgttttndddddddd</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
{{template "common/footer.html" .}}
