{{template "common/header.html" .}}
{{template "common/nav.html" .}}

<div class="container">
    <div class="col-md-9">
        <h2>{{.Topic.Title}}</h2>

        <p class="text-muted">
            发表于：{{.Topic.CreateTime}}，浏览次数：{{.Topic.Views}}，回复：{{.Topic.ReplyCount}}，最后回复时间：{{.Topic.LastReplyTime}}
        </p>
        <p class="tag-muted">
            标签：{{range .TopicTags}}<a href="/topic/tag/{{.}}" class="tag-href">{{.}}</a>{{end}} &nbsp;
        </p>

        <div>
            {{str2html .Topic.Content}}
        </div>

        <hr class="article-divider">

        {{if .isLogin}}
        <h3>发表评论</h3>
        <div class="comment">
            <header class="comment-header">
                <img class="comment-avatar comment-border-circle" width="50" height="50"
                     src="/static/img/user_default.png">
                <h4 class="comment-title">
                    infouryears
                </h4>
            </header>
            <div class="comment-body">
                <form action="/comment" method="post">
                    <input type="hidden" name="tid" value="{{.Topic.Id}}">
                    <!--TODO-->
                    <input name="userId" type="hidden"/>
                    <div class="comment-textarea">
                        <textarea rows="6" placeholder="说点什么吧" class="form-control" name="content"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        发表评论
                    </button>
                </form>
            </div>
        </div>
        <hr class="article-divider"/>
        {{end}}


        <h3>最新评论</h3>
        {{$tid := .Topic.Id}}
        <!-- TODO 当前用户是超级管理员-->
        {{if .isLogin}}
        {{range .Comments}}
        <ul class="comment-list">
            <li>
                <div class="comment">
                    <header class="comment-header">
                        <img class="comment-avatar comment-border-circle"
                             width="50" height="50" src="/static/img/user_default.png?d=mm&amp;s=120">
                        <h4 class="comment-title">someone</h4>
                        <p class="comment-meta">{{.ReplyTime}}</p>
                    </header>
                    <div class="comment-body">
                        <p>{{.Content}}</p>
                        <!--TODO 暂时屏蔽删除功能-->
                        <!--<a class="btn btn-danger" href="/comment/delete/{{$tid}}/{{.Id}}">删除</a>-->
                    </div>
                </div>
            </li>
        </ul>
        {{end}}
        {{end}}
    </div>
    <div class="col-md-3">
        <div class="tags-header">
            <h4>标签</h4>
            <div class="list-group">
                {{range .Tags}}
                <a href="#" class="list-group-item">
                    <span class="badge">{{.Count}}</span>
                    {{.Name}}
                </a>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{template "common/footer.html" .}}
